
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Favorites</title>
</head>
<body>
    <div>
        <ul>Colors</ul>
              <li>Red</li>
              <li>Blue</li>
              <li>Yellow</li>
        <ul>Fruits</ul>
              <li>Mango</li>
              <li>Strawberry</li>
              <li>Grapes</li>

    </div>
</body>
</html>
